{% layout 'layouts/default-html.liquid' %}
{% block content %}
<div>
  <div class="breadcrumbs">
    <a href="/books">Books</a> > {{ book.title }}
  </div>
  <h1>{{ book.title }}</h1>
  <p><i>{{ book.author }}</i></p>
  <p>{{ book.description }}</p>
  <hr>

  {% assign frontMatter = bookTree | where: 'slug', 'front-matter' | first %}
  <div class="book-front-matter">
    {{ frontMatter.content }}
  </div>

  <div class="book-sections">
    {% for section in bookTree %}
      <div class="book-section-panel" style="margin-bottom: 20px;">
        {% render 'books/book-section.liquid', section: section, depth: 1 %}
      </div>
    {% endfor %}
  </div>
</div>

<style>
  .depth-1 {
    font-weight:  bold;
    margin-bottom:  5px;
  }
  .depth-2 {
    margin-left: 28px;
    font-weight:  normal;
  }
</style>
{% endblock %}